body, html{
  height: 100%;
  margin: 0;
}

.parallax {
  /* Image */
  background-image: url(https://static.vecteezy.com/system/resources/previews/023/595/723/original/recycling-of-clothes-and-textiles-men-s-clothing-will-be-sent-to-the-trash-can-shirt-jacket-tie-boots-pants-briefs-etc-concept-of-conscious-consumption-reuse-and-donation-vector.jpg);
  /* Set a specific height for the Image */
  min-height: 94vh;
}

.quote {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 75px;
}

  /* Parallax scrolling effect */
.parallax{
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
}

  /* Navigation Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
  
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2vh 4vw;
  text-decoration: none;
}

li img {
  height: 14.24px;
  width: 32px;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #aaaaaa;
}